# FRONT END GITIGNORE
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules và build output
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Testing
frontend/coverage
frontend/.nyc_output

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# OS files
frontend/Thumbs.db
frontend/Desktop.ini

# Bun specific
frontend/.bun